body {
    margin : 10%;
}

.android-phone {
    width : 250px;
    height : 400px;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 #cfcfcf;
    padding-top : 10px;
}

.android-screen {
    width : 230px;
    height : 370px;
    background-image: url("https://lh3.googleusercontent.com/Y7v2-XTAE_3anP3GaoSnmtRP-gGiR0xmocpeTQZQ79PC9ToMvqgwpgTr6XV6coFTNQ=h900");
    margin : 10px;
    font-family: Roboto;
}

.android-status-bar {
    width : 220.5px;
    height : 15px;
    background-color: grey;
    padding-left: 10px;
    padding-bottom: 2px;
}

.android-spacer {
    width : 200px;
}

.android-content {
    padding : 5%;
}